.table-area {
  width: 60px;
  height: 60px;
  /* border: solid 1px #ccc; */
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: absolute;

  z-index: 1;
  box-sizing: border-box;
  /* padding: 10px; */
  font-size: 12px;

  background-image: linear-gradient(
      rgba(0, 255, 0, 0.7) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(0, 255, 0, 0.7) 0.1em, transparent 0.1em);
  background-size: 60px 60px;
}

.table-area:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
